## Data Cleaning3

**Learning outcomes**

We will be able to:
* Parse Date
* Combine Columns
* Rename Columns
* Verify the validity of data by isin method

**Dataset from:** https://www.kaggle.com/nasa/landslide-events (with minor changes)

Each row is associated with one hazard.

### Read Data

In [43]:
import pandas as pd

df = pd.read_csv('hazards.csv')
df.head()

,id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger
0,34,3/2/2007,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain
1,42,3/22/2007,United States,us,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain
2,56,4/6/2007,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,Landslide,Landslide,Small,Rain
3,59,4/14/2007,Canada,CA,Quebec,42786,Châteauguay,2.98682,Landslide,Riverbank collapse,Small,Rain
4,61,4/15/2007,United States,US,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour

In [44]:
df.head()

,id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger
0,34,3/2/2007,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain
1,42,3/22/2007,United States,us,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain
2,56,4/6/2007,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,Landslide,Landslide,Small,Rain
3,59,4/14/2007,Canada,CA,Quebec,42786,Châteauguay,2.98682,Landslide,Riverbank collapse,Small,Rain
4,61,4/15/2007,United States,US,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour

### Swim in your data!

In [45]:
df.shape

(1693, 12)

In [46]:
df.columns

Index(['id', 'date', 'country_name', 'country_code', 'state/province',
       'population', 'city/town', 'distance', 'hazard_type', 'landslide_type',
       'landslide_size', 'trigger'],
      dtype='object')

In [47]:
df.head()

,id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger
0,34,3/2/2007,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain
1,42,3/22/2007,United States,us,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain
2,56,4/6/2007,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,Landslide,Landslide,Small,Rain
3,59,4/14/2007,Canada,CA,Quebec,42786,Châteauguay,2.98682,Landslide,Riverbank collapse,Small,Rain
4,61,4/15/2007,United States,US,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour

In [48]:
df1=df.copy()

### Remove Duplicates

In [49]:
df1.drop_duplicates(inplace=True)

In [50]:
df1.shape

(1693, 12)

### Missing values

In [51]:
df1.isnull().sum()

id                0
date              3
country_name      0
country_code      0
state/province    1
population        0
city/town         4
distance          1
hazard_type       0
landslide_type    1
landslide_size    1
trigger           2
dtype: int64

In [52]:
df1 = df1.dropna() # drops rows that have null

### Removing Leading or Trailing Spaces

In [53]:
#To remove white space at both ends:
df1.columns = df1.columns.str.strip()

### Parsing Dates

**Check data type of date column**

The following output shows that the data type of 'Date' column is object rather than date/time. We can tell that Python doesn't know that column 'Date' contains dates.

In [54]:
df1['date'].head()

0     3/2/2007
1    3/22/2007
2     4/6/2007
3    4/14/2007
4    4/15/2007
Name: date, dtype: object

**Convert 'Date' column data type to date/time**

Since the data type of 'Date' column isn't a date, we should  convert it to date. This is called "parsing dates" because we're taking in a string and identifying its component parts.

In [55]:
df1['date'] = pd.to_datetime(df1['date'])

In [56]:
df1['date'] .head()

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
Name: date, dtype: datetime64[ns]

In [57]:
df1.columns

Index(['id', 'date', 'country_name', 'country_code', 'state/province',
       'population', 'city/town', 'distance', 'hazard_type', 'landslide_type',
       'landslide_size', 'trigger'],
      dtype='object')

**Extracting Year from Date**

In [58]:
# you can use this code too: df1['year'] = pd.DatetimeIndex(df1['date']).year

df1['year']=df1['date'].dt.year
df1['year'].head()

0    2007
1    2007
2    2007
3    2007
4    2007
Name: year, dtype: int64

**Extracting Month from Date**

In [59]:
# you can use this code too: df1['month'] = pd.DatetimeIndex(df1['date']).month

df1['month'] = df1['date'].dt.month
df1['month'].head()

0    3
1    3
2    4
3    4
4    4
Name: month, dtype: int64

In [60]:
# you can use this code too: df1['month-text'] = pd.DatetimeIndex(df1['date']).strftime('%B')

df1['month-text'] = df1['date'].dt.month_name()
df1['month-text'].head()

0    March
1    March
2    April
3    April
4    April
Name: month-text, dtype: object

**Extracting Day from Date**

In [61]:
# you can use this code too: df1['day'] = pd.DatetimeIndex(df1['date']).day

df1['day'] = df1['date'].dt.day
df1['day'].head()

0     2
1    22
2     6
3    14
4    15
Name: day, dtype: int64

In [62]:
df1['day-text'] = df1['date'].dt.day_name()
df1['day-text'].head()

0      Friday
1    Thursday
2      Friday
3    Saturday
4      Sunday
Name: day-text, dtype: object

**Exercise 1**

* How many hazards did we have in **each year**?

In [63]:
df1['year'].value_counts()

2010    340
2011    283
2013    272
2015    263
2014    197
2008    106
2007     71
2012     68
2009     62
2016     19
Name: year, dtype: int64

* How many hazards did we have in 2007?

In [64]:
df1['year'].loc[df1['year']==2007].value_counts()

2007    71
Name: year, dtype: int64

* How many hazards did we have in each month, in 2007? (the output should show Months as labels and the numbers)

In [65]:
df1['month-text'].loc[df1['year']==2007].value_counts()

October      14
August       13
September    13
December      8
April         6
November      5
July          5
June          4
March         2
May           1
Name: month-text, dtype: int64

In [66]:
# If I ask to show Year and Month labels
df1['month-text'].groupby(df1['year'].loc[df1['year']==2007]).value_counts()

year    month-text
2007.0  October       14
        August        13
        September     13
        December       8
        April          6
        July           5
        November       5
        June           4
        March          2
        May            1
Name: month-text, dtype: int64

* How many hazards did we have in March, in 2007?  (the output should show March and 2007 as a labels and the number)

In [67]:
df1[['month-text', 'year']].loc[(df1['month-text']=='March') & (df1['year']==2007)].value_counts()

month-text  year
March       2007    2
dtype: int64

### Inconsistent Data Entry

In [68]:
df1.head()

,id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,year,month,month-text,day,day-text
0,34,2007-03-02,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2007,3,March,2,Friday
1,42,2007-03-22,United States,us,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,2007,3,March,22,Thursday
2,56,2007-04-06,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,Landslide,Landslide,Small,Rain,2007,4,April,6,Friday
3,59,2007-04-14,Canada,CA,Quebec,42786,Châteauguay,2.98682,Landslide,Riverbank collapse,Small,Rain,2007,4,April,14,Saturday
4,61,2007-04-15,United States,US,Kentucky,6903,Pikeville,5.66542,Landslide,Landslide,Small,Downpour,2007,4,April,15,Sunday

In [69]:
df1['country_code'].unique()

array(['US', 'us', 'CA', 'co', 'EC', 'MX', 'ca', 'DO', 'GT', 'JM', 'DM',
       'mx', 'TT', 'NI', 'SV', 'CR', 'HT', 'CO', 'jm', 'tt', 'PR', 'PE',
       'PA', 'JN', 'LC', 'HN', 'BB', 'VE', 'TI', 'USA', 'BR', 'VC', 'VI',
       'CU', 'GD', 'BM', 'BZ'], dtype=object)

In [70]:
# first, we change all values in country_code column to upper case
df1['country_code'] = df1['country_code'].str.upper()

In [71]:
df1['country_code'].unique()

array(['US', 'CA', 'CO', 'EC', 'MX', 'DO', 'GT', 'JM', 'DM', 'TT', 'NI',
       'SV', 'CR', 'HT', 'PR', 'PE', 'PA', 'JN', 'LC', 'HN', 'BB', 'VE',
       'TI', 'USA', 'BR', 'VC', 'VI', 'CU', 'GD', 'BM', 'BZ'],
      dtype=object)

### Verify the validity for the country_code Column

In [72]:
countries_df = pd.read_csv('countries.csv')
countries_df.head()

          Country Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [73]:
# The list of valid country codes
countries_df['Code'].unique()

array(['AF', 'AX', 'AL', 'DZ', 'AS', 'AD', 'AO', 'AI', 'AQ', 'AG', 'AR',
       'AM', 'AW', 'AU', 'AT', 'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE',
       'BZ', 'BJ', 'BM', 'BT', 'BO', 'BQ', 'BA', 'BW', 'BV', 'BR', 'IO',
       'BN', 'BG', 'BF', 'BI', 'KH', 'CM', 'CA', 'CV', 'KY', 'CF', 'TD',
       'CL', 'CN', 'CX', 'CC', 'CO', 'KM', 'CG', 'CD', 'CK', 'CR', 'CI',
       'HR', 'CU', 'CW', 'CY', 'CZ', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG',
       'SV', 'GQ', 'ER', 'EE', 'ET', 'FK', 'FO', 'FJ', 'FI', 'FR', 'GF',
       'PF', 'TF', 'GA', 'GM', 'GE', 'DE', 'GH', 'GI', 'GR', 'GL', 'GD',
       'GP', 'GU', 'GT', 'GG', 'GN', 'GW', 'GY', 'HT', 'HM', 'VA', 'HN',
       'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM', 'IL', 'IT',
       'JM', 'JP', 'JE', 'JO', 'KZ', 'KE', 'KI', 'KP', 'KR', 'KW', 'KG',
       'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MO', 'MK',
       'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MQ', 'MR', 'MU', 'YT',
       'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MS', 'MA', 'MZ', 'MM', nan,
       'NR', 'NP', 'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NU', 'NF', 'MP',
       'NO', 'OM', 'PK', 'PW', 'PS', 'PA', 'PG', 'PY', 'PE', 'PH', 'PN',
       'PL', 'PT', 'PR', 'QA', 'RE', 'RO', 'RU', 'RW', 'BL', 'SH', 'KN',
       'LC', 'MF', 'PM', 'VC', 'WS', 'SM', 'ST', 'SA', 'SN', 'RS', 'SC',
       'SL', 'SG', 'SX', 'SK', 'SI', 'SB', 'SO', 'ZA', 'GS', 'SS', 'ES',
       'LK', 'SD', 'SR', 'SJ', 'SZ', 'SE', 'CH', 'SY', 'TW', 'TJ', 'TZ',
       'TH', 'TL', 'TG', 'TK', 'TO', 'TT', 'TN', 'TR', 'TM', 'TC', 'TV',
       'UG', 'UA', 'AE', 'GB', 'US', 'UM', 'UY', 'UZ', 'VU', 'VE', 'VN',
       'VG', 'VI', 'WF', 'EH', 'YE', 'ZM', 'ZW'], dtype=object)

**Use isin() method to create a new column 'ValidCountries' and code the values in country_code column to 0 or 1**

In [74]:
df1.loc[~df1['country_code'].isin(countries_df['Code']),'ValidCountries'] = 0
df1.loc[df1['country_code'].isin(countries_df['Code']),'ValidCountries'] = 1

**Show how many valid and how many invalid country codes we have**

In [75]:
df1['ValidCountries'].value_counts()

1.0    1678
0.0       3
Name: ValidCountries, dtype: int64

**Display the the 'country_code' and 'ValidCountries' columns for invalid countries**

In [76]:
df1[['country_code', 'ValidCountries']].loc[df1['ValidCountries'] == 0]

    country_code  ValidCountries
142           JN             0.0
170           TI             0.0
173          USA             0.0

**Since JN,TI, and USA are not valid country codes, Replace JN with JM, TI with TT, and USA with US.**

In [77]:
df1.loc[df1['country_code']=='JN', 'country_code'] = 'JM'
df1.loc[df1['country_code']=='TI', 'country_code'] = 'TT'
df1.loc[df1['country_code']=='USA', 'country_code'] = 'US'

In [78]:
df1['country_code'].unique()

array(['US', 'CA', 'CO', 'EC', 'MX', 'DO', 'GT', 'JM', 'DM', 'TT', 'NI',
       'SV', 'CR', 'HT', 'PR', 'PE', 'PA', 'LC', 'HN', 'BB', 'VE', 'BR',
       'VC', 'VI', 'CU', 'GD', 'BM', 'BZ'], dtype=object)

### Combining two columns

In [79]:
df1.columns

Index(['id', 'date', 'country_name', 'country_code', 'state/province',
       'population', 'city/town', 'distance', 'hazard_type', 'landslide_type',
       'landslide_size', 'trigger', 'year', 'month', 'month-text', 'day',
       'day-text', 'ValidCountries'],
      dtype='object')

In [80]:
df1['Country_name_code']=df1['country_name']+'_'+df1['country_code']

In [81]:
df1.head(2)

,id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,year,month,month-text,day,day-text,ValidCountries,Country_name_code
0,34,2007-03-02,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2007,3,March,2,Friday,1.0,United States_US
1,42,2007-03-22,United States,US,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,2007,3,March,22,Thursday,1.0,United States_US

### Changing Column names

In [82]:
df1.rename(columns={'id': 'hazard_id', 'Country_name_code': 'Country_NameCode'}, inplace=True)
df1.head(2)

,hazard_id,date,country_name,country_code,state/province,population,city/town,distance,hazard_type,landslide_type,landslide_size,trigger,year,month,month-text,day,day-text,ValidCountries,Country_NameCode
0,34,2007-03-02,United States,US,Virginia,16000,Cherry Hill,3.40765,Landslide,Landslide,Small,Rain,2007,3,March,2,Friday,1.0,United States_US
1,42,2007-03-22,United States,US,Ohio,17288,New Philadelphia,3.33522,Landslide,Landslide,Small,Rain,2007,3,March,22,Thursday,1.0,United States_US